@page
@model WebApp.BattleShip.Pages.GameSettings

@{
    var menuItems = Model.SettingMenu.MenuItems;
}


<link rel="stylesheet" href="css/style.css">

<div class="container-fluid centered">
    <form asp-page="GameSettings" asp-page-handler="ReceiveGameSettings" method="post">

        <div class="row my-5"></div>
        <div class="text-center">
            <h1>Game Settings</h1>
        </div>
        <div class="row my-5"></div>


        <div class="row" style='color: white; font-size: 2rem'>

            
            <div class="col-3 align-self-center">
                <div class="row">
                    <div class="col-12">
                        <input class="text-center" type="text" name="FirstPlayerName" placeholder="First player name" value="Player1">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 align-self-center">
                @foreach (var item in menuItems.Where(item => item.Title is not "Return" and not "Continue"))
                {
                    <div class="row">
                        <div class="col-6">
                            <label for="@item.Title">@item.Title</label>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <select class="col-12 text-center" name="@item.Title" id="@item.Title">
                                    @foreach (var menuOption in item.MenuItemOptions)
                                    {
                                        <option value="@menuOption.Title">@menuOption.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-4">
                        <label>Do you want to save?</label>
                    </div>

                    <div class="col-2 align-self-center">
                        <input style="height: 1.3rem; width: 1.3rem;" name="SaveSettingsFlag" type="checkbox" value="">
                    </div>

                    <div class="col-6">
                        <div class="row">
                            <input class="col-12 text-center" name="SettingsSaveName" type="text" value="@DateTime.Now">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 align-self-center">
                <div class="row">
                    <div class="col-12">
                        <input class="text-center" type="text" name="SecondPlayerName" placeholder="Second player name" value="Player2">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12"></div>
                </div>
            </div>
        </div>

        <div class="row my-3 mt-5">
            <div class="col-4"></div>
            <div class="col text-center">
                <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Continue">
            </div>
            <div class="col-4"></div>
        </div>
    </form>

    <form asp-page="Index" method="post">
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <input class="btn btn-outline-danger btn-lg btn-block" type="submit" value="Return">
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</div>


@section scripts {
    <script type="module" src="js/Background/Background.js"></script>
}